<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LogoutServerlet</servlet-name>
        <servlet-class>com.poslovnik.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonServerlet</servlet-name>
        <servlet-class>com.poslovnik.controller.PersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PositionServerlet</servlet-name>
        <servlet-class>com.poslovnik.controller.PositionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayoutServlet</servlet-name>
        <servlet-class>com.poslovnik.controller.PayoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacationServlet</servlet-name>
        <servlet-class>com.poslovnik.controller.VacationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServerlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonServerlet</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PositionServerlet</servlet-name>
        <url-pattern>/position</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayoutServlet</servlet-name>
        <url-pattern>/payout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacationServlet</servlet-name>
        <url-pattern>/vacation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
